name: jni
description: Library to access JNI from dart and flutter
version: 0.0.1
homepage: https://github.com/dart-lang/jnigen

environment:
  sdk: ">=2.17.1 <3.0.0"
  #flutter: ">=2.11.0"

dependencies:
  ## Commented out to support dart standalone
  # flutter:
    #  sdk: flutter
  plugin_platform_interface: ^2.0.2
  ffi: ^2.0.0
  path: ^1.8.0
  package_config: ^2.1.0
  args: ^2.3.1

dev_dependencies:
  ## Temporarily linking to a personal fork of ffigen
  ## so that changes in FFIGen can be reviewed.
  #
  ## If this is vendored directly, it will not be possible to
  ## review changes in ffigen.
  #
  ## Will be removed in a later PR by vendoring the patched ffigen.
  #
  ## After running `dart run ffigen --config ffigen.yaml` there
  ## should be no changes.
  ##
  ## TODO: vendor ffigen fork
  ffigen:
    git: https://github.com/mahesh-hegde/ffigen_patch_jni.git
    #path: third_party/ffigen_patch
  flutter_lints: ^2.0.0
  test: ^1.21.1

# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      linux:
        ffiPlugin: true
      windows:
        ffiPlugin: true
      macos:
        ffiPlugin: true
      android:
        ffiPlugin: true
        package: dev.dart.jni
        pluginClass: JniPlugin

