  /// Retrieves the value of the field denoted by [fieldID]
  {TARGET_TYPE} get{STATIC}{PTYPE}Field(JFieldID fieldID) {
    _checkDeleted();
	final result = _env.Get{STATIC}{TYPE}Field({THIS}, fieldID);
	{STR_REF_DEL}
	_env.checkException();
	{RESULT};
  }

  /// Retrieve field of given [name] and [signature]
  {TARGET_TYPE} get{STATIC}{PTYPE}FieldByName(String name, String signature) {
	final fID = get{STATIC}FieldID(name, signature);
	final result = get{STATIC}{PTYPE}Field(fID);
	return result;
  }

