target/*
*.class
*.jar

.idea/compiler.xml
.idea/dictionaries
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/misc.xml
.idea/runConfigurations.xml

.classpath ## Used for experimenting with JShell REPL
